{% extends 'layout.html.twig' %}


{% block content %}
    
  <section class="tableauDeBord">
        <div class="container ">
            {% if is_granted('ROLE_ADMIN') %}
            <div class="row button">
                <button type="button" class="btn btn-primary btn-left">Perso</button>
                <button type="button" class="btn btn-primary btn-right">Admin</button>
            </div>
            {% endif %}
            <div class="row haut">
                <div class="col-12 col-md-4">
                    <a class="titre" href="mon-profil.html">
                        <div class="card">
                          <i class=" icone far fa-6x fa-user-circle"></i>
                          <h5 class=" card-title">Mon profil</h5>
                          <div class="card-body">
                            <p class="card-text">Modifier mes informations</p>
                          </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <a class="titre" href="mes-conge.html">
                        <div class="card">
                          <i class=" icone fab fa-6x fa-angellist"></i>
                          <h5 class="card-title">Mes congés</h5>
                          <div class="card-body">
                            <p class="card-text">Voir mon soldes</p>
                          </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <a class="titre" href="mes-fiches-de-paie.html">
                        <div class="card">
                          <i class=" icone fas fa-6x fa-paper-plane"></i>
                          <h5 class="card-title">Mes fiches de paie</h5>
                          <div class="card-body">
                            <p class="card-text">Voir et archiver mes fiches de paie</p>
                          </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row bas">
                <div class="col-12 col-md-4">
                    <a class="titre" href="trombinoscope.html">
                        <div class="card">
                          <i class="icone fas fa-6x fa-camera-retro"></i>
                          <h5 class="card-title">Trombinoscope</h5>
                          <div class="card-body">
                            <p class="card-text">Trombinoscope de la société</p>
                          </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <a class="titre" href="news.html">
                        <div class="card">
                          <i class="icone fas fa-6x fa-newspaper"></i>
                          <h5 class="card-title">Les News</h5>
                          <div class="card-body">
                            <p class="card-text">Les actualités de la société</p>
                          </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <a class="titre" href="emploi.html">
                        <div class="card">
                          <i class="icone fas fa-6x fa-newspaper"></i>
                          <h5 class="card-title">Les offres d'emploi</h5>
                          <div class="card-body">
                            <p class="card-text">Offres internes</p>
                          </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
