{% extends 'layout.html.twig' %}


{% block content %}
    
  <section>
        <div class="container mesfichesdepaie  ">
            <h1 class="text-center">Mes fiches de paie</h1>
            <h2>Votre dernière fiche de paie est disponible</h2>
            <div class="icone-telechargement">
               <a onclick="window.open('img/cv-1.pdf')"> <i class="fas fa-download"></i> </a>
            </div>
            <p class="text-center"><i class="fas fa-lock"></i> Aucun autre collaborateur n'a accès à vos fiches de paie</p>


            <div class="archives">
                <div class="row">
                    <div class="col-12 col-md-12 ">
                        <h3>Archives</h3>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-3">
                        <p>2018</p>
                        <hr>
                        <ul>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Janvier</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Février</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Mars</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Avril</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Mai</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Juin</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Juillet</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Aout</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Septembre</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Octobre</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Novembre</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Décembre</button></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3">
                        <p>2017</p>
                        <hr>
                        <ul>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Janvier</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Février</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Mars</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Avril</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Mai</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Juin</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Juillet</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Aout</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Septembre</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Octobre</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Novembre</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Décembre</button></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3">
                        <p>2016</p>
                        <hr>
                        <ul>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Janvier</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Février</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Mars</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Avril</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Mai</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Juin</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Juillet</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Aout</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Septembre</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Octobre</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Novembre</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Décembre</button></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3">
                        <p>2015</p>
                        <hr>
                        <ul>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Janvier</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Février</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Mars</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Avril</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Mai</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Juin</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Juillet</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Aout</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Septembre</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Octobre</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Novembre</button></li>
                            <li><button type="button"  class="btn btn-outline-dark" onclick="window.open('img/cv-1.pdf')"></i> Décembre</button></li>
                        </ul>
                    </div>

                </div>


            </div>
        </div>

    </section>

{% endblock %}
