{% extends 'layout.html.twig' %}


{% block content %}

    
    
  <section>
        <div class="container mesfichesdepaie  ">
            <h1 class="text-center">Mes fiches de paie</h1>
                         
            
            <p class="text-center"><i class="fas fa-lock"></i> Aucun autre collaborateur n'a accès à vos fiches de paie</p>


            <div class="archives">
                <div class="row">
                    <div class="col-12 col-md-12 ">
                        <h3>Archives</h3>
                    </div>
                     </div>
                    <div class="row">
                    {% for year in 2018..2015 %}   
                       <div class="col-6 col-md-3">
                        <p>{{ year }}</p>
                        <hr>
                        <ul>
                           
                            {% for fdp in app.user.getFicheDePaieByYear(year) %}
                                
                                <li> <a target="_blank" class="btn btn-outline-dark" href="{{ asset('images/fdp/'~ fdp.ficheDePaie) }}"></i> {{ fdp.mois }}</a></li>
                            {% endfor %}
                        </ul>
                        </div>
                    {% endfor %}   


                </div>
            </div>
                    
        <div class="text-right">
            <a href="{{path('app_salarie_index')}}"><button type="button" class="btn btn-outline-success">Retour</button></a>
        </div>
                    
        </div>
        

    
    </section>

{% endblock %}
