{% extends 'layout.html.twig' %}


{% block content %}
    
  <section>
        <div class="container news  ">
            <h1 class="text-center">Les offres d'emplois</h1>
            {% for emploi in emploi %}
            <div class="row">
                
                <div class="card w-100">
                    <div class="card-img-top" > </div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"> </p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
                    
            </div>
                {% endfor %}
        </div>
            
    </section>

{% endblock %}
