{# empty Twig template #}
{% extends 'layout.html.twig' %}


{% block content %}
    
  <section>
        <div class="container trombinoscope  ">
            <h1 class="text-center">Trombinoscope</h1>
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/meir.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/jeanjpg.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/meir.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/jeanjpg.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/meir.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/jeanjpg.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/meir.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/jeanjpg.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/meir.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/jeanjpg.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/meir.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/jeanjpg.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/meir.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/jeanjpg.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/meir.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/jeanjpg.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/meir.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/jeanjpg.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/meir.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/jeanjpg.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/meir.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/jeanjpg.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/meir.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 17rem;">
                        <div class="card-img-top" style="background-image:url('img/jeanjpg.jpg')"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Nom Prénom</h5>
                            <p class="card-text"><span>Développeur</span></p>
                            <p class="card-text">01.43.59.76.78</p>
                            <p class="card-text">serge.benhamou@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

{% endblock %}
