{% extends 'layout.html.twig' %}


{% block content %}
    
  <section class="tableauDeBord">
        <div class="container ">
            {% if is_granted('ROLE_ADMIN') %}
            <div class="row button">
                <a class="btn-left"href='{{ path('app_salarie_index') }}'><button type="button" class="btn btn-primary ">Perso</button></a>
            </div>
            {% endif %}
            <div class="row haut">
                <div class="col-12 col-md-4">
                    <a class="titre" href="">
                        <div class="card">
                          <i class=" icone far fa-6x fa-user-circle"></i>
                          <h5 class=" card-title">Les salariés</h5>
                          
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <a class="titre" href='{{ path('app_admin_lesconges') }}'>
                        <div class="card">
                          <i class=" icone fab fa-6x fa-angellist"></i>
                          <h5 class="card-title">Les congés</h5>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <a class="titre" href="">
                        <div class="card">
                          <i class=" icone fas fa-6x fa-paper-plane"></i>
                          <h5 class="card-title">les News</h5>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row bas">
                <div class="col-12 col-md-4">
                    <a class="titre" href="">
                        <div class="card">
                          <i class="icone fas fa-6x fa-camera-retro"></i>
                          <h5 class="card-title">Les Offres d'emploi</h5>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-8">
                    <a class="titre" href="">
                        <div class="card">
                          <i class="icone fas fa-6x fa-newspaper"></i>
                          <h5 class="card-title">L'entreprise</h5>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </section>


{% endblock %}

