{% extends 'layout.html.twig' %}

{% block content %}


  <section>
        <div class="container liste-candidature">
            <div class="row">
                <div class="col-12 col-md-12 text-center">
                    <h1 class="text-center">Candidature </h1>
                    <h2>Nom du poste :)</h2>
                </div>
            </div>
            <div class="">
                <div class="card w-100">
                    <div class="card-body row">
                        <div class="col-4   text-center">
                            <img class="img-fluid" src="/images/photo/53165.gif">
                            <button type="button" class="btn btn-primary w-100">Télécharger le CV </button>
                            <div class="text-left">
                                <p><span>Nom et prénom :</span> Marco Sanchez</p>
                                <p><span>Service :</span> Marco Sanchez</p>
                                <p><span>Mail :</span> Marco.Sanchez@mescouilles.net</p>
                                <p><span>Téléphone :</span> 0145678954</p>
                            </div>
                        </div>
                        <div class="col-8">
                            
                            <p>O-dessous pour leO-dessous pour les curieux. Les secO-dessous pour les curieux. Les sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" de Cicéron sont aussi reproduites dans leur version originale, accompagnée de la traduction anglaise de H. Rackham (1914).O-dessous pour les curieux. Les sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" de Cicéron sont aussi reproduites dans leur version originale, accompagnée de la traduction anglaise de H. Rackham (1914).vvvvvvvvvO-dessous pour les curieux. Les sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" de Cicéron sont aussi reproduites dans leur version originale, accompagnée de la traduction anglaise de H. Rackham (1914).O-dessous pour les curieux. Les sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" de Cicéron sont aussi reproduites dans leur version originale, accompagnée de la traduction anglaise de H. Rackham (1914).vvvtions 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" de Cicéron sont aussi reproduites dans leur version originale, accompagnée de la traduction anglaise de H. Rackham (1914).O-dessous pour les curieux. Les sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" de Cicéron sont aussi reproduites dans leur version originale, accompagnée de la traduction anglaise de H. Rackham (1914).O-dessous pour les curieux. Les sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" de Cicéron sont aussi reproduites dans leur version originale, accompagnée de la traduction anglaise de H. Rackham (1914).s curieux. Les sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" de Cicéron sont aussi reproduites dans leur version originale, accompagnée de la traduction anglaise de H. Rackham (1914).</p>
                        </div>
                      
                    </div>
                </div>
            </div>

            
            

        </div>
    </section>

{% endblock %}
{# empty Twig template #}
