
{% extends 'layout.html.twig' %}


{% block content %}
    
  <section>
        <div class="container liste-employes">
            <div class="row">
                <div class="col-12 col-md-12">
                    <h1 class="text-center">Liste des employés </h1>
                </div>
                <div class="col-12 col-md-12 text-center">
                <a href="ajout-employe.html"><button type="button" class="btn btn-outline-success ">Ajouté un employé</button></a>
            </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Email</th>
                                <th scope="col">Téléphone</th>
                                <th scope="col"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>serge@benhamou.fr</td>
                                <td>0175984623</td>
                                <td><a href="modifier-employe.html"><i class="far fa-edit"></i></a></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>serge@benhamou.fr</td>
                                <td>0175984623</td>
                                <td><a href="modifier-employe.html"><i class="far fa-edit"></i></a></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>serge@benhamou.fr</td>
                                <td>0175984623</td>
                                <td><a href="modifier-employe.html"><i class="far fa-edit"></i></a></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>serge@benhamou.fr</td>
                                <td>0175984623</td>
                                <td><a href="modifier-employe.html"><i class="far fa-edit"></i></a></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>serge@benhamou.fr</td>
                                <td>0175984623</td>
                                <td><a href="modifier-employe.html"><i class="far fa-edit"></i></a></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>serge@benhamou.fr</td>
                                <td>0175984623</td>
                                <td><a href="modifier-employe.html"><i class="far fa-edit"></i></a></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>serge@benhamou.fr</td>
                                <td>0175984623</td>
                                <td><a href="modifier-employe.html"><i class="far fa-edit"></i></a></td>
                            </tr>

                            <tr>
                                <th scope="row">3</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>serge@benhamou.fr</td>
                                <td>0175984623</td>
                                <td><a href="modifier-employe.html"><i class="far fa-edit"></i></a></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>serge@benhamou.fr</td>
                                <td>0175984623</td>
                                <td><a href="modifier-employe.html"><i class="far fa-edit"></i></a></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>serge@benhamou.fr</td>
                                <td>0175984623</td>
                                <td><a href="modifier-employe.html"><i class="far fa-edit"></i></a></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>serge@benhamou.fr</td>
                                <td>0175984623</td>
                                <td><a href="modifier-employe.html"><i class="far fa-edit"></i></a></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>serge@benhamou.fr</td>
                                <td>0175984623</td>
                                <td><a href="modifier-employe.html"><i class="far fa-edit"></i></a></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>serge@benhamou.fr</td>
                                <td>0175984623</td>
                                <td><a href="modifier-employe.html"><i class="far fa-edit"></i></a></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>serge@benhamou.fr</td>
                                <td>0175984623</td>
                                <td><a href="modifier-employe.html"><i class="far fa-edit"></i></a></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>serge@benhamou.fr</td>
                                <td>0175984623</td>
                                <td><a href="modifier-employe.html"><i class="far fa-edit"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>

{% endblock %}
