/********************************* HTML/ BODY *************************************************/
html{
    font-size:3vw;
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 5rem;
    min-height: 100%;
}

/** NAVBAR *****************************************************************************************************************************/

header {
    height: 5rem;
}

header .navbar-brand img{
    width:10rem;
}

header .navbar {
    height: 5rem;
}

 ul.navbar-nav{
	margin-left: auto;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link{
    color: #083b66;
}



/** HOME PAGE **************************************************************************************************************************/
section{
  /*margin-top: 5rem;*/
  margin: 5rem 0;
}

.home-page {
    padding-top: 5rem;
}

.home-page > .row{
    min-height: calc(100vh - 19rem);
    align-content: center;
    align-items: center;
}

.home-droite img{
   margin:3rem auto;
   width:66%;

}

.home-gauche h1{
    font-size: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    color: #083b66;
}

.home-gauche button{
    margin: auto;
}

.home-gauche .btn-outline-success{
    color: #74d14c;
    border-color:#74d14c;
    font-size: 1.3rem;
}

.home-gauche .btn-outline-success:hover{
    color: white;
    background-color: #74d14c;
    border-color:#74d14c;
    font-size: 1.3rem;
}

.home-bas{
    margin-top: 5rem;
}


/** CONNEXION **************************************************************************************************************************/

.connexion h1{
    color: #083b66;
    margin-bottom: 2rem;
    text-align: center;
}

.connexion .btn-primary{
    background-color: #74d14c;
    border-color:#74d14c;
}

.connexion .btn-primary:hover{
    background-color:white;
    color:#74d14c;

}
/** inscription **************************************************************************************************************************/
.inscription h1{
    color: #083b66;
    margin-top: 6rem;
    margin-bottom: 3rem;

}
.inscription{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.offres{
    margin-top: 6rem;
    margin-bottom: 2rem;
}


.inscription .btn-primary{
    background-color: #74d14c;
    border-color:#74d14c;
    padding-left : 3rem;
    padding-right:3rem;
    float:right;
    margin-top: 1rem;
}

.inscription .btn-primary:hover{
    background-color:white;
    color:#74d14c;

}

/** inscription ADMIN **************************************************************************************************************************/
.inscription-admin{
    margin-bottom: 10rem;
}

.inscription-admin h1{
    color: #083b66;
    margin-bottom: 2rem;
}

.inscription-admin .btn-primary{
    margin-top: 2rem;
    background-color: #74d14c;
    border-color:#74d14c;
    padding-left : 3rem;
    padding-right:3rem;
    float:right;
}

.inscription-admin .btn-primary:hover{
    background-color:white;
    color:#74d14c;

}
/** MON PROFIL **************************************************************************************************************************/
.mon-profil h1{
    color: #083b66;
    margin-bottom: 2rem;

}

.mon-profil .infos{
    margin-top:4rem;
    border: 2px solid #083b66;
    padding: 3rem;
    background-color: #F8F9FA;
    margin-bottom: 5rem;
}

.mon-profil .photo-profil{
    width:20rem;
    height:20rem;
    border-radius: 50%;
    border:10px solid #083b66;
    background-size: 100% auto;
    background-position:middle center;
    margin:auto;
}

.mon-profil h2{
    font-size:3rem;
    color : #f2af58 ;
    text-align: center;
    margin-bottom:2rem;
}

.mon-profil span{
    font-size:1rem;
    color : #74d14c;
    font-weight: bold;
}

.mon-profil p {
    color:#083b66 ;
}


.mon-profil .btn-outline-success{
    margin-top: 2rem;
    background-color: #74d14c;
    border-color:#74d14c;
    padding-left : 3rem;
    padding-right:3rem;
    color:white;
    margin:auto;

}

.mon-profil .btn-outline-success:hover{
    background-color:white;
    color:#74d14c;

}


.mon-profil .btn-outline-dark{
    margin-top: 2rem;
   background-color:white;
    color:#74d14c;
    width:13rem;


}

.mon-profil .btn-outline-dark:hover{
    background-color: #74d14c;
    border-color:#74d14c;
    color:white;

}


.mon-profil .information{
    margin-top: 4rem;
}

/** EDIT MON PROFIL **************************************************************************************************************************/
.edit-mon-profil h1{
    color: #083b66;
    margin-bottom: 2rem;

}

.edit-mon-profil .infos{
    margin-top:4rem;
    border: 2px solid #083b66;
    padding: 3rem;
    background-color: #F8F9FA;
    margin-bottom: 5rem;
}

.edit-mon-profil h2{
    font-size:3rem;
    color : #f2af58 ;
    text-align: center;
    margin-bottom:2rem;
}



.edit-mon-profil p {
    color:#083b66 ;
}


.edit-mon-profil .btn-outline-success{
    margin-top: 2rem;
    background-color: #74d14c;
    border-color:#74d14c;
    padding-left : 3rem;
    padding-right:3rem;
    color:white;
    margin:auto;

}

.edit-mon-profil .btn-outline-success:hover{
    background-color:white;
    color:#74d14c;

}


.edit-mon-profil .btn-outline-dark{
    margin-top: 2rem;
   background-color:white;
    color:#74d14c;
    width:13rem;


}

.edit-mon-profil .btn-outline-dark:hover{
    background-color: #74d14c;
    border-color:#74d14c;
    color:white;

}


.edit-mon-profil .information{
    margin-top: 4rem;
}

.edit-mon-profil .btn-primary{
    background-color: #74d14c;
    border-color:#74d14c;
    padding-left : 3rem;
    padding-right:3rem;
    text-align: center;
    float: right;
    margin-bottom: 5rem;
}
.edit-mon-profil .btn-primary:hover{
    background-color:white;
    color:#74d14c;
}

/** USER **************************************************************************************************************************/
.tableauDeBord{
    margin-top: 6rem;
}

.tableauDeBord .button{
    margin:0rem auto 2rem auto;
    width:5rem;
}

.tableauDeBord .btn-primary{
    background-color: #74d14c;
    border-color:#74d14c;
}

.tableauDeBord .btn-primary:hover{
    background-color:white;
    color:#74d14c;
}

.tableauDeBord a:hover{
    text-decoration: none;
}
.tableauDeBord .card{
   transition: transform .2s;
   margin-bottom:2rem;
}

.tableauDeBord .card:hover{
    transform: scale(1.05 , 1.1);
}

.tableauDeBord .icone{
    color: #f2af58;
    text-align: center;
    padding-top: 2rem;
}
.tableauDeBord h5{
   text-align: center;
   margin-top: 1rem;
}
.tableauDeBord .titre{
    color: #083b66;
}
.tableauDeBord .card-text{
   text-align: center;
   color: #74d14c;
}


/** CONGE PAYE **************************************************************************************************************************/

.mesconges h1{
   color: #083b66;
}

.mesconges table{
    margin-top: 4rem;
    margin-bottom: 3rem;
    color: #083b66;
}
.mesconges .btn-primary{
    background-color: #74d14c;
    border-color:#74d14c;
    padding-left : 3rem;
    padding-right:3rem;
    text-align: center;
    margin:auto;
    margin-bottom: 5rem;
}
.mesconges .btn-primary:hover{
    background-color:white;
    color:#74d14c;
}

/** DEMANDE CONGE PAYE **************************************************************************************************************************/
.demandeConge form{
    color: #083b66;
    margin-top: 2rem;
}
.demandeConge{
    display: none;
}

.demandeConge button{
    margin-right: 2rem;
}

.demandeConge h2{
   color: #083b66;
   text-decoration: underline;
   padding-top: 2rem;
}

.demandeConge span{
    font-size: 0.7rem;
}

/** VALIDATION CONGE **************************************************************************************************************************/

.validationConges h1{
   color: #083b66;
   margin-bottom:5rem;
}

.validationConges .btn-link{
    text-decoration: none;
    color: #083b66;
}
.validationConges .btn-primary{
    background-color: #74d14c;
    border-color:#74d14c;
}

.validationConges.btn-primary:hover{
    background-color:white;
    color:#74d14c;

}

.validationConges .btn-outline-success{
    margin-top: 4rem;
    background-color: #74d14c;
    border-color:#74d14c;
    padding-left : 3rem;
    padding-right:3rem;
    color:white;
   

}

.validationConges .btn-outline-success:hover{
    background-color:white;
    color:#74d14c;

}



/** MES FICHES DE PAIE **************************************************************************************************************************/
.mesfichesdepaie h1{
   color: #083b66;
   margin-bottom: 4rem;
}

.mesfichesdepaie h2{
    text-align: center;
    color: #f2af58 ;
    margin-top: 4rem;
    font-size: 1.5rem;
}

.mesfichesdepaie .icone-telechargement{
    color:#74d14c;
    font-size: 10rem;
    text-align: center;
}

.mesfichesdepaie .archives{
    border:5px solid #083b66;
    padding: 2rem;
    color:#083b66 ;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.mesfichesdepaie p{
    color:#74d14c;
    text-align: center;
}

.mesfichesdepaie .btn-outline-dark{
    border-color:  #083b66 ;
    color: #083b66;
}

.mesfichesdepaie .btn-outline-dark:hover{
    border-color:  #74d14c ;
    background-color: #74d14c;
    color: white;
    transform: scale(1.05 , 1.1);
}

.mesfichesdepaie .btn-outline-dark{
    width:100%;
}

.mesfichesdepaie h3{
    margin-bottom: 2rem;
}

.mesfichesdepaie li{
    list-style: none;
    margin-top: 1rem;

}
.mesfichesdepaie ul{
    padding:0;
}

.icone-telechargement:hover{
    transform: scale(1.05 , 1.1);
}

.mesfichesdepaie .btn-outline-success{
    margin-top: 2rem;
    background-color: #74d14c;
    border-color:#74d14c;
    padding-left : 3rem;
    padding-right:3rem;
    color:white;
    margin:auto;

}

.mesfichesdepaie .btn-outline-success:hover{
    background-color:white;
    color:#74d14c;

}
/** TROMBINOSCOPE **************************************************************************************************************************/

.trombinoscope h1{
   color: #083b66;
   margin-bottom: 4rem;
}

.trombinoscope img{
    width:100%;
}

.card-img-top{
    height: 12rem;
    overflow: hidden;

}

.trombinoscope .card-img-top{


    background-size: 100% auto;
    background-position:middle center;
    background-repeat: no-repeat;

}

.trombinoscope .card{
     margin-bottom: 1rem;
    
}

.trombinoscope .card-text span{
    font-style: italic;

}

.trombinoscope .card-title{
    margin-bottom: 0.8rem;
    
}

.trombinoscope p{
    margin-bottom: 0rem;
}

.trombinoscope .card-body{
    height:11rem;
    padding:0.5rem;
}

.trombinoscope .btn-outline-success{
    margin-top: 4rem;
    background-color: #74d14c;
    border-color:#74d14c;
    padding-left : 3rem;
    padding-right:3rem;
    color:white;
    
    

}

.trombinoscope .btn-outline-success:hover{
    background-color:white;
    color:#74d14c;

}
/** ADMIN LISTE SALARIES **************************************************************************************************************************/

.liste-salaries h1{
    color: #083b66;
   margin-bottom: 4rem;
}
.liste-salaries .btn-outline-success{
    margin-bottom: 3rem;
    color:#74d14c;
}

.liste-salaries .btn-outline-success:hover{
    background-color:#74d14c;
    color:white;
}

.liste-salaries .btn-primary{
    background-color: #74d14c;
    border-color:#74d14c;
    margin-right:0.5rem;
   
}
.liste-salaries .btn-primary:hover{
    background-color:white;
    color:#74d14c;
}

.liste-salaries a{
    color:#083b66;
}

.liste-salaries .colonne-boutons{
    width:16rem;
}
/** ADMIN AJOUT SALARIES **************************************************************************************************************************/
.ajout-salaries h1{
    color: #083b66;
   margin-bottom: 4rem;
}

.ajout-salaries .btn-primary{
    background-color: #74d14c;
    border-color:#74d14c;
    float:right;
    margin-bottom: 3rem;
    margin-top:2rem;
}

.ajout-salaries .btn-primary:hover{
    background-color:white;
    color:#74d14c;
}

/** ADMIN MODIF SALARIES **************************************************************************************************************************/

.adminmodif-salaries .btn-primary{
    background-color: #74d14c;
    border-color:#74d14c;
    float:right;
    margin-bottom: 3rem;
}

.adminmodif-salaries .btn-primary:hover{
    background-color:white;
    color:#74d14c;
}

.adminmodif-salaries h1{
    color: #083b66;
    margin-bottom: 2rem;

}

/** ADMIN VOIR SALARIE PROFIL **************************************************************************************************************************/
.salarieprofil h1{
    color: #083b66;
    margin-bottom: 2rem;

}

.salarieprofil .infos{
    margin-top:4rem;
    border: 2px solid #083b66;
    padding: 3rem;
    background-color: #F8F9FA;
    margin-bottom: 5rem;
}

.salarieprofil .photo-profil{
    width:20rem;
    height:20rem;
    border-radius: 50%;
    border:10px solid #083b66;
    background-size: 100% auto;
    background-position:middle center;
    margin:auto;
}


.salarieprofil span{
    font-size:1rem;
    color : #74d14c;
    font-weight: bold;
}

.salarieprofil p {
    color:#083b66 ;
}


.salarieprofil .btn-outline-success{
    margin-top: 2rem;
    background-color: #74d14c;
    border-color:#74d14c;
    padding-left : 3rem;
    padding-right:3rem;
    color:white;
    margin:auto;

}

.salarieprofil .btn-outline-success:hover{
    background-color:white;
    color:#74d14c;

}


.salarieprofil .btn-outline-dark{
    margin-top: 2rem;
   background-color:white;
    color:#74d14c;
    width:13rem;


}

.salarieprofil .btn-outline-dark:hover{
    background-color: #74d14c;
    border-color:#74d14c;
    color:white;

}


.salarieprofil .information{
    margin-top: 4rem;
}

/** ADMIN ENTREPRISE PROFIL **************************************************************************************************************************/
.entrepriseprofil h1{
    color: #083b66;
    margin-bottom: 2rem;

}

.entrepriseprofil .infos{
    margin-top:1rem;
    border: 2px solid #083b66;
    padding: 3rem;
    background-color: #F8F9FA;
    
}.entrepriseprofil .photo-profil{
    width:20rem;
    height:20rem;
    border-radius: 50%;
    border:10px solid #083b66;
    background-size: 100% auto;
    background-position:middle center;
    margin:auto;
}

.entrepriseprofil span{
    font-size:1rem;
    color : #74d14c;
    font-weight: bold;
    margin: 0rem 0.5rem 0rem 0.5rem;
}

.entrepriseprofil p {
    color:#083b66 ;
}


.entrepriseprofil .btn-outline-success{
    color:#74d14c;
}

.entrepriseprofil .btn-outline-success:hover{
    background-color:#74d14c;
    color:white;
}

.entrepriseprofil .btn-outline-danger{
    color:#f2af58;
    border-color:#f2af58;
}

.entrepriseprofil .btn-outline-danger:hover{
    background-color:#f2af58;
    color:white;
}

.entrepriseprofil .btn-primary{
    background-color: #74d14c;
    border-color:#74d14c;
    margin-right:0.5rem; 
}

.entrepriseprofil .btn-primary:hover{
    background-color:white;
    border-color:#74d14c;
    color:#74d14c;
}

.entrepriseprofil .information{
    margin-top: 2rem;
}
/** ADMIN AJOUT NEWS **************************************************************************************************************************/

.ajout-news h1{
    color: #083b66;
   margin-bottom: 4rem;
}

.ajout-news .btn-primary{
    background-color: #74d14c;
    border-color:#74d14c;
    float:right;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.ajout-news .btn-primary:hover{
    background-color:white;
    color:#74d14c;
}

/** ADMIN LISTE NEWS **************************************************************************************************************************/

.liste-news h1{
    color: #083b66;
   margin-bottom: 4rem;
}
.liste-news .btn-outline-success{
    margin-bottom: 3rem;
    color:#74d14c;
    border-color:#74d14c;
}
.liste-news .btn-outline-success:hover{
    background-color:#74d14c;
    color:white;
}

.liste-news .btn-primary{
    background-color: #74d14c;
    border-color:#74d14c;
    margin-right:0.5rem;
   
}
.liste-news .btn-primary:hover{
    background-color:white;
    color:#74d14c;
}

.liste-news .btn-danger{
    background-color: #f2af58;
    border-color:#f2af58;
    margin-right:0.5rem;
   
}
.liste-news .btn-danger:hover{
    background-color:white;
    color:#f2af58;
}

.liste-news a{
    color:#083b66;
}

.liste-news .colonne-boutons{
    width:15rem;
    
}
.liste-news .table td {
  padding: .75rem 0rem;
    
}

/** ADMIN LISTE OFFRES EMPLOI **************************************************************************************************************************/

.liste-offresemploi h1{
   color: #083b66;
   margin-bottom: 4rem;
}
.liste-offresemploi .btn-outline-success{
    margin-bottom: 3rem;
    color:#74d14c;
    border-color:#74d14c;
}
.liste-offresemploi .btn-outline-success:hover{
    background-color:#74d14c;
    color:white;
}

.liste-offresemploi .btn-primary{
    background-color: #74d14c;
    border-color:#74d14c;
    margin-right:0.5rem;
   
}
.liste-offresemploi .btn-primary:hover{
    background-color:white;
    color:#74d14c;
}

.liste-offresemploi .btn-info{
    background-color: #083b66;
    border-color:#083b66;
    margin-right:0.5rem;
   
}
.liste-offresemploi .btn-info:hover{
    background-color:white;
    color:#083b66;
}

.liste-offresemploi .btn-danger{
    background-color: #f2af58;
    border-color:#f2af58;
    margin-right:0.5rem;
   
}
.liste-offresemploi .btn-danger:hover{
    background-color:white;
    color:#f2af58;
}

.liste-offresemploi a{
    color:#083b66;
}

.liste-emploi .colonne-boutons{
    width:15rem;
}

/** ADMIN MODIF ENTREPRISE **************************************************************************************************************************/

.modif-entreprise h1{
    color: #083b66;
   margin-bottom: 4rem;
}

.modif-entreprise .btn-primary{
    background-color: #74d14c;
    border-color:#74d14c;
    float:right;
    margin-bottom: 3rem;
    margin-top:3rem;
}

.modif-entreprise .btn-primary:hover{
    background-color:white;
    color:#74d14c;
}

/**SALARIE NEWS **************************************************************************************************************************/
.news h1{
    color: #083b66;
   margin-bottom: 4rem;
}

.news .card{
    margin-bottom: 2rem;
}

.news .card-img-top{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
   height:30rem;
}

.news .btn-outline-success{
    margin-top: 3rem;
    background-color: #74d14c;
    border-color:#74d14c;
    padding-left : 3rem;
    padding-right:3rem;
    color:white;
    
    

}

.news .btn-outline-success:hover{
    background-color:white;
    color:#74d14c;

}
/**LISTE EMPLOI SALARIE **************************************************************************************************************************/
.liste-emploi h1{
    color: #083b66;
   margin-bottom: 4rem;
}

.liste-emploi .card{
   transition: transform .2s;
   margin-bottom:1rem;
}

.liste-emploi .card:hover{
    transform: scale(1.05 , 1.1);
}

.liste-emploi .btn-primary{
    float:right;
    background-color: #74d14c;
    border-color:#74d14c;
}



.liste-emploi .btn-primary:hover{
    background-color:white;
    color:#74d14c;
}

.liste-emploi p{
    font-size:1.1rem;
    color:#083b66;
}

.liste-emploi p span{
    font-size:0.7rem;
    color:#f2af58;
}

.liste-emploi .btn-outline-success{
    margin-top: 3rem;
    background-color: #74d14c;
    border-color:#74d14c;
    padding-left : 3rem;
    padding-right:3rem;
    color:white;
    
    

}

.liste-emploi .btn-outline-success:hover{
    background-color:white;
    color:#74d14c;

}

/**DETAIL EMPLOI SALARIE **************************************************************************************************************************/
.detail-emploi h1{
    color: #083b66;
   margin-bottom: 4rem;
}

.detail-emploi p{
    color: #083b66;
}

.detail-emploi .postule{
    text-align: right;
    margin-bottom: 1rem;
    padding-right: 1rem;
}

.detail-emploi .btn-info{
    background-color: #083b66;
    border-color:#083b66;
    margin-right:0.5rem;
   
}
.detail-emploi .btn-info:hover{
    background-color:white;
    color:#083b66;
}
.detail-emploi .btn-outline-success{
    margin-top: 2rem;
    background-color: #74d14c;
    border-color:#74d14c;
    padding-left : 3rem;
    padding-right:3rem;
    color:white;
    margin:auto;
    float:right;
    margin-top: 2rem;

}

.detail-emploi .btn-outline-success:hover{
    background-color:white;
    color:#74d14c;

}

/**LISTE CANDIDATURE ADMIN **************************************************************************************************************************/

.liste-candidature h1, .liste-candidature h2{
    color: #083b66;
}

.liste-candidature img{
    width:10rem;
    border:3px solid #74d14c;
    margin:auto;
}

.liste-candidature .card{
  
    margin-top:2rem;
}

.liste-candidature .btn-primary{
    background-color: #74d14c;
    color:white;
    border-color:#74d14c;
    margin-top: 1rem;
    margin-bottom:2rem;
}

.liste-candidature .btn-primary:hover{
    background-color:white;
    color:#74d14c;

}

.liste-candidature p span{
    color: #74d14c;
    font-weight: bold;
}

.liste-candidature p{
    color: #083b66;
}
/** INSERT FDP **************************************************************************************************************************/

.insert-fdp h1{
    color: #083b66;
    margin-bottom: 3rem;
}

.insert-fdp .btn-primary{
    background-color: #74d14c;
    border-color:#74d14c;
    margin-right:0.5rem;
   
}
.insert-fdp .btn-primary:hover{
    background-color:white;
    color:#74d14c;
}
.insert-fdp .btn-outline-dark{
    background-color: #083b66;
    border-color:#083b66;
    margin-right:0.5rem;
    color:white;
    padding: 0.3rem 2rem;
   
}
.insert-fdp .btn-outline-dark:hover{
    background-color:white;
    color:#083b66;
}
.insert-fdp .first{
    padding: 0.3rem 2rem ;
    margin-bottom: 3rem;
    margin-top:1rem;
    
}

.insert-fdp .btn-danger{
    background-color: #f2af58;
    border-color:#f2af58;
    margin-right:0.5rem;
   
}
.insert-fdp .btn-danger:hover{
    background-color:white;
    color:#f2af58;
}

.insert-fdp .boutons-colonne{
    width:24rem;
}
/** FOOTER **************************************************************************************************************************/

footer{
    height:5rem;
    background-color:#f2af58;
    color:white;
    /*margin-top: 3rem;*/
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

footer .container{
    padding-top: 2rem;
}






/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    html{
        font-size:27px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
html{
        font-size:36px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    html{
        font-size:16px;
    }
    /** HOME PAGE **************************************************************************************************************************/
    .home-page{
        padding-top: 2rem;
    }

    /********************************USER ******************************************/
    .tableauDeBord .bas{
        /*padding-top: 2rem;*/
    }

    /**************************FOOTER*********************************/
    footer{
        /*margin-top:10rem;*/
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    html{
        font-size:19px;
    }

}
