/********************************* HTML/ BODY *************************************************/
html{
    font-size:3vw;
}

/** NAVBAR *****************************************************************************************************************************/


header .navbar-brand img{
    width:10rem;
}

 ul.navbar-nav{
	margin-left: auto;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link{
    color: #083b66;
}



/** HOME PAGE **************************************************************************************************************************/
section{
  margin-top: 5rem;
    padding-top: 5rem;
}

.home-droite img{
   margin:3rem auto;
   
}




.home-gauche h1{
    font-size: 2rem;
    margin-bottom: 5rem;
    text-align: center;
}

.home-gauche button{
    margin: auto;
}

.home-gauche .btn-outline-success{
    color: #74d14c;
    border-color:#74d14c;
    font-size: 1.3rem;
}

.home-gauche .btn-outline-success:hover{
    color: white;
    background-color: #74d14c;
    border-color:#74d14c;
    font-size: 1.3rem;
}

.home-bas{
    margin-top: 5rem;
}


/** CONNEXION **************************************************************************************************************************/

.connexion h1{
    color: #083b66;
    margin-bottom: 2rem;
    text-align: center;
}

.connexion .btn-primary{
    background-color: #74d14c;
    border-color:#74d14c;
}

.connexion .btn-primary:hover{
    background-color:white;
    color:#74d14c;

}
/** inscription **************************************************************************************************************************/
.inscription h1{
    color: #083b66;
    margin-top: 6rem;

}
.inscription{
    margin-top: 4rem;
    margin-bottom: 4rem; 
}


.inscription .btn-primary{
    background-color: #74d14c;
    border-color:#74d14c;
    padding-left : 3rem;
    padding-right:3rem;
    float:right;
}

.inscription .btn-primary:hover{
    background-color:white;
    color:#74d14c;

}

/** inscription ADMIN **************************************************************************************************************************/
.inscription-admin{
    margin-bottom: 10rem;
}

.inscription-admin h1{
    color: #083b66;
    margin-bottom: 2rem;
}

.inscription-admin .btn-primary{
    margin-top: 2rem;
    background-color: #74d14c;
    border-color:#74d14c;
    padding-left : 3rem;
    padding-right:3rem;
    float:right;
}

.inscription-admin .btn-primary:hover{
    background-color:white;
    color:#74d14c;

}
/** MON PROFIL **************************************************************************************************************************/
.mon-profil h1{
    color: #083b66;
    margin-bottom: 2rem;

}

.mon-profil .infos{
    margin-top:4rem;
    border: 2px solid #083b66;
    padding: 3rem;
    background-color: #F8F9FA;
    margin-bottom: 5rem;
}

.mon-profil .photo-profil{
    width:20rem;
    height:20rem;
    border-radius: 50%;
    border:10px solid #083b66;
    background-size: 100% auto;
    background-position:middle center;
    margin:auto;
}

.mon-profil h2{
    font-size:3rem;
    color : #f2af58 ;
    text-align: center;
    margin-bottom:2rem;
}

.mon-profil span{
    font-size:1rem;
    color : #74d14c;
    font-weight: bold;
}

.mon-profil p {
    color:#083b66 ;
}


.mon-profil .btn-outline-success{
    margin-top: 2rem;
    background-color: #74d14c;
    border-color:#74d14c;
    padding-left : 3rem;
    padding-right:3rem;
    color:white;

}

.mon-profil .btn-outline-success:hover{
    background-color:white;
    color:#74d14c;

}


.mon-profil .btn-outline-dark{
    margin-top: 2rem;
   background-color:white;
    color:#74d14c;
    padding-left : 3rem;
    padding-right:3rem;


}

.mon-profil .btn-outline-dark:hover{
    background-color: #74d14c;
    border-color:#74d14c;
    color:white;

}
/** USER **************************************************************************************************************************/
.tableauDeBord{
    margin-top: 6rem;
}
.tableauDeBord a:hover{
    text-decoration: none;
}
.tableauDeBord .card{
   transition: transform .2s;
}

.tableauDeBord .card:hover{
    transform: scale(1.05 , 1.1);
}

.tableauDeBord .icone{
    color: #f2af58;
    text-align: center;
    padding-top: 2rem;
}
.tableauDeBord h5{
   text-align: center;
}
.tableauDeBord .titre{
    color: #083b66;
}
.tableauDeBord .card-text{
   text-align: center;
   color: #74d14c;
}
.tableauDeBord .bas{
    padding-top: 2rem;
}

/** CONGE PAYE **************************************************************************************************************************/

.mesconges h1{
   color: #083b66;
}

.mesconges table{
    margin-top: 4rem;
    margin-bottom: 3rem;
    color: #083b66;
}
.mesconges .btn-primary{
    background-color: #74d14c;
    border-color:#74d14c;
    padding-left : 3rem;
    padding-right:3rem;
    text-align: center;
}
.mesconges .btn-primary:hover{
    background-color:white;
    color:#74d14c;
}

/** DEMANDE CONGE PAYE **************************************************************************************************************************/
.demandeConge form{
    color: #083b66;
    margin-top: 2rem;
}
.demandeConge{
    display: none;
}

button{
    margin-right: 2rem;
}

h2{
   color: #083b66;
   text-decoration: underline;
   padding-top: 2rem;
}


/** FOOTER **************************************************************************************************************************/

footer{
    height:5rem;
    background-color:#f2af58;
    color:white;
}
footer .container{
    padding-top: 2rem;
}






/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    html{
        font-size:27px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
html{
        font-size:36px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    html{
        font-size:16px;
    }
    /** HOME PAGE **************************************************************************************************************************/
    .home-page{
        margin-top: 6rem;
    }

    /********************************USER ******************************************/
    .tableauDeBord .bas{
        padding-top: 2rem;
    }

    /**************************FOOTER*********************************/
    footer{
        margin-top:10rem;
    }
}


/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    html{
        font-size:19px;
    }
    
}