{% extends 'layout.html.twig' %}


{% block content %}
     <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 home-gauche ">
                    <h1> " Simplifiez vous la tâche ! Uttilisezzz Jemy pour la gestion de vos salariés blablab et blablaaaaaaaaaa !</h1>
                    <div class="text-center">
                        <a href="{{ path('app_accueil_inscription')}}"><button type="button" class="btn btn-outline-success ">Inscription entreprise</button></a>
                    </div>
                </div>
                <div class="col-12 col-md-6 home-droite">
                    <img class="img-fluid" src="/assets/img/image1.png">
                </div>
            </div>
            <div class="row text-center home-bas">
                <div class="col-12 col-md-12">
                    <img class="img-fluid" src="/assets/img/image2.png">
                </div>
            </div>
        </div>
    </section>
        
        
        
        
        
        
        
        

{% endblock %}

