{% extends 'layout.html.twig' %}


{% block content %}
     <section>
        <div class="container home-page">
            <div class="row">
                <div class="col-12 col-lg-6 home-gauche ">
                    <h1> " Simplifiez vous la tâche ! Uttilisezzz Jemy pour la gestion de vos salariés blablab et blablaaaaaaaaaa !</h1>
                    <div class="text-center">
                        <a href="{{url('inscription')}}"><button type="button" class="btn btn-outline-success ">Inscription entreprise</button></a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 home-droite text-center">
                    <img class="img-fluid" src="/assets/img/image1.png">
                </div>
            </div>
            
        </div>
    </section>
        
        
        
        
        
        
        
        

{% endblock %}

