{% extends 'layout.html.twig' %}
{% block content %}
    
<div class="container connexion">
            
                
            <h1 class="text-center">Modification du mot de passe</h1>
            {{form_start(form)}}
            <div class="row">
                <div class=" col col-md-12">
             {{ form_row(form.plainPassword) }}
             </div>
             <div class="form-btn-group text-right col-12">
                <button type="submit" class="btn btn-primary first">Modifier</button>
            </div>
             
               </div> 
             {{ form_end(form) }}
</div>   
{% endblock %}