<h3>You did it! You registered!</h3>

Hi {{ name }}! You're successfully registered.

{# example, assuming you have a route named "login" #}
To login, go to: <a href="http://www.jemy-rh.com/modifmdp/{{recuperation.uniq}}">ce lien</a>.

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}

