{% extends 'base.html.twig' %}
{% block content %}

<div class=" container">
    <h3>Première fois?!</h3>

    Hello {{ name }}! 

    <p>
     Venez changer votre mot de passe ! en cliquant : <a href="http://www.jemy-rh.com/modifmdp/{{recuperation.uniq}}"> sur ce lien</a>.
    </p>
    Merci
</div>
     
{% endblock %}
{# Makes an absolute URL to the /images/logo.png file #}

